<a href="https://colab.research.google.com/github/Jasjot-Kaur/Seoul-Bike-Sharing-Demand-Prediction_Linear-Regression/blob/main/Bike_Sharing_Demand_Prediction_Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <b><u> Project Title : Seoul Bike Sharing Demand Prediction </u></b>

## <b> Problem Description </b>

### Currently Rental bikes are introduced in many urban cities for the enhancement of mobility comfort. It is important to make the rental bike available and accessible to the public at the right time as it lessens the waiting time. Eventually, providing the city with a stable supply of rental bikes becomes a major concern. The crucial part is the prediction of bike count required at each hour for the stable supply of rental bikes.

## <b> Data Description </b>

### <b> The dataset contains weather information (Temperature, Humidity, Windspeed, Visibility, Dewpoint, Solar radiation, Snowfall, Rainfall), the number of bikes rented per hour and date information.</b>


### <b>Attribute Information: </b>

* ### Date : year-month-day
* ### Rented Bike count - Count of bikes rented at each hour
* ### Hour - Hour of he day
* ### Temperature-Temperature in Celsius
* ### Humidity - %
* ### Windspeed - m/s
* ### Visibility - 10m
* ### Dew point temperature - Celsius
* ### Solar radiation - MJ/m2
* ### Rainfall - mm
* ### Snowfall - cm
* ### Seasons - Winter, Spring, Summer, Autumn
* ### Holiday - Holiday/No holiday
* ### Functional Day - NoFunc(Non Functional Hours), Fun(Functional hours)

In [50]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [51]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [52]:
#csv file location
file_location = '/content/drive/MyDrive/SeoulBikeData.csv'
#reading csv file
df_bike= pd.read_csv(file_location, encoding = 'unicode_escape')

In [53]:
df_bike.head()

,Date,Rented Bike Count,Hour,Temperature(째C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(째C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,01/12/2017,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
1,01/12/2017,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
2,01/12/2017,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes
3,01/12/2017,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
4,01/12/2017,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes

In [54]:
df_bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       8760 non-null   object
 1   Rented Bike Count          8760 non-null   int64
 2   Hour                       8760 non-null   int64
 3   Temperature(째C)            8760 non-null   float64
 4   Humidity(%)                8760 non-null   int64
 5   Wind speed (m/s)           8760 non-null   float64
 6   Visibility (10m)           8760 non-null   int64
 7   Dew point temperature(째C)  8760 non-null   float64
 8   Solar Radiation (MJ/m2)    8760 non-null   float64
 9   Rainfall(mm)               8760 non-null   float64
 10  Snowfall (cm)              8760 non-null   float64
 11  Seasons                    8760 non-null   object
 12  Holiday                    8760 non-null   object
 13  Functioning Day            8760 non-null   object
dtypes: float64(6), int64(4), object(4)
memory usage: 958.2+ KB

In [55]:
# creating a copy of dataset (so that the original data remains unmodified)
df_b1 = df_bike.copy()

In [56]:
df_b1['Holiday'].value_counts()       # find the unique frequencies of 'Holiday' (to know how to encode in the later step)

No Holiday    8328
Holiday        432
Name: Holiday, dtype: int64

In [57]:
df_b1['Holiday'].replace({"No Holiday":"0","Holiday":"1"}, inplace = True)      # encoded 'No Holiday' as '0' & 'Holiday' as '0'
df_b1['Holiday'].value_counts()                                                 # find the unique frequencies of 'Holiday'

0    8328
1     432
Name: Holiday, dtype: int64

In [61]:
df_b1['Seasons'].value_counts()   # find the unique frequencies of 'Seasons' (to know how to encode the unique frequencies in the later step)

1    2208
2    2208
3    2184
4    2160
Name: Seasons, dtype: int64

In [65]:
# encoded: 'Spring' = 1; 
#          'Summer' = 2;
#          'Autumn' = 3;
#          'Winter' = 4;
df_b1['Seasons'].replace({'Spring':"1",'Summer':"2",'Autumn':"3",'Winter':"4"}, inplace = True) 
df_b1['Seasons'].value_counts()     # find the replaced unique frequencies of 'Seasons'

1    2208
2    2208
3    2184
4    2160
Name: Seasons, dtype: int64

In [67]:
df_b1['Functioning Day'].value_counts()   # find the unique frequencies of 'Functioning Day' (to know how to encode the unique frequencies in the later step)

Yes    8465
No      295
Name: Functioning Day, dtype: int64

In [70]:
# encoded: 'Yes' = 1; 
#          'No' = 0;
df_b1['Functioning Day'].replace({'Yes':"1",'No':"0"}, inplace = True) 
df_b1['Functioning Day'].value_counts()     # find the replaced unique frequencies of 'Functioning Day'

1    8465
0     295
Name: Functioning Day, dtype: int64